:root{
    --background: #1E1C21;
    --pink: #FC1E8B;
    --purple: #7278C3;
    --blue: #00A8DC;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gradient{
    background: rgba(213,55,155,1);
    background: -moz-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(213,55,155,1)), color-stop(69%, rgba(119,117,193,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5379b', endColorstr='#7277c3', GradientType=1 );
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header a{
    color: #FFF;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
}

.cabecalho nav{
    width: 60%;
}

.cabecalho ul{
    display: flex;
    justify-content: space-around;
}

.banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/meta_mundo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 5px;
}

.banner .btn{
    margin-top: 230px;
}

.sobre{
    background-image: url("../img/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    width: 100%;
    min-height: 350px;
    margin: 20px 0;
    padding: 100px 0;
    color: white;
}

.sobre .container{
    display: flex;
    justify-content: flex-start;
}

.sobre .container div{
    width: 40%;    
}

.campea{
    position: absolute;
    right: 15%;
    top: 470px;
}

#horarios{
    width: 100%;
    margin: 30px 0;
    box-shadow: 0px 0px 22px #000000;
    background: rgba(67,43,95,1);
    background: -moz-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,43,95,1)), color-stop(100%, rgba(30,28,33,1)));
    background: -webkit-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -o-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: linear-gradient(to bottom, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432b5f', endColorstr='#1e1c21', GradientType=0 );
}

.ao_vivo, .em_breve{
    border-left: solid 1px var(--purple);
    color: white;
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.partida img{
    width: 40px;
    padding: 0 15px;
}

.partida{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#horarios .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#horarios h2{
    margin: 0px 15px;
}

.em_breve{
    width: 65%;
}

.content{
    display: flex;
    color: white;
}

.noticias{
    width: 70%;
    padding-right: 40px;
    display: flex;
    flex-flow: wrap;
}

.card{
    width: 28%;
    margin: 2%;
    box-shadow: 0px 2px 6px #000000;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
}

.card img{
    width: 100%;
    height: 140px;
}

.card h4{
    padding: 1em 0 0 1em;
}

.card p{
    padding: 1em;
    font-size: 0.8em;
}

.recentes{
    text-align: center;
    padding: 1.5em;
    box-shadow: 0px 2px 6px #000000;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
}

.resultado{
    text-align: center;
    margin: 2em 0;
}

.resultado img{
    width: 35px;
}

.placar{
    font-size: 1.5em;
    text-shadow: 3px 3px 6px #000000;
}

footer{
    color: white;
    margin-top: 30px;
    background: rgb(0,0,0);
    box-shadow: 0px 0px 10px black;
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
}

footer .sociais{
    display: flex;
    justify-content: space-evenly;
    color: var(--purple);
    font-size: 2em;
    padding: 1.2em 0px;
}

footer h5{
    padding-bottom: 1.2em;
    color: #474747;
    font-size: 1.7em;
}

footer h6{
    text-align: end;
    font-size: 1.1em;
}

footer p{
    text-align: center;
    color: #474747;
}


/* PÁGINA DE CADASTRO */

.titulo_pagina{
    width: 100%;
    height: 300px;
    background-image: url("../img/cadastro.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    padding-top: 3em;
}
.form_cadastro{
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5), 0px -4px 15px rgba(114, 119, 195, 0.8);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    color: white;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1.5em;
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.campo label{
    text-transform: uppercase;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"],
select{
    border: none;
    background-color: #1E1C21;
    color:#ccc;
    border-bottom: 1px solid #474747;
    width: 60%;
    padding: 0.5em;
}
input[type="date"]{
    text-align: center;
    font-size: 1.3em;
}
input:focus, select:focus{
    outline: none;
    background-color:#474747;
    box-shadow: 0 0 5px #474747;
    border-bottom: 1px solid var(--purple);

}
fieldset{
  width: 100%;
  border: none;
  margin-bottom: 2em;
}
fieldset legend{
    text-transform: uppercase;
}
input[type="radio"]{
    margin-right: 0.1em;
}
fieldset label{
    margin-right: 0.5em;
}
.termos{
    align-items: center;
    justify-content: start;
}
.termos label{
    text-transform: lowercase;
    margin-left: 0.5em;
}

.form_cadastro button{
    border: none;
    width: 60%;
    margin-top: 2em;
    cursor: pointer;
}
.cabecalho .fa-bars{
    color: var(--purple);
    font-size: 2em;
    display: none;
}
@media screen and (max-width: 1200px) {
    .campea{
        right: 0%;
    }
    .sobre .container div{
        width: 50%;    
    }
   .container{
       width: 95%;
   }

}/*Fim media max 1200px*/

@media screen and (max-width: 768px) {
    header img{
        max-width: 180px;
    }
    .container{
        width: 98%;
    }
    .campea{
        max-width: 500px;
        margin-top: 50px;
        right: -100px;
    }
    .sobre .container div{
        width: 55%;
        margin-left: 30px;    
    }

    .ao_vivo{
        padding: 5.3em 5px;
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
      
    }
    .em_breve{
        width: 50%;
        flex-wrap: wrap;
    }
   .em_breve .partida{
       margin: 0.5em 0;
   }
   /* Seção Notícias */
   .noticias{
       flex-direction: column;
   }  
  .card{
    display: flex;
    width: 100%;
    }
    .card img{
    width: 30%;
    }
    footer .container{
    padding-top: 0.3em;
    width: 94%;
    }

    .mob_logo_sociais{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .mob_logo_sociais img{
        max-width: 180px;
    }   
   
}/*Fim media max 768px*/

@media screen and (max-width: 460px) {
    .cabecalho .fa-bars{
        display: block;
    }
    .cabecalho div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 2em;
    }
    .cabecalho nav{
        position: absolute;
        top:73px;
        background-color: red;
        width: 100%;
    }
}